<!-- components/contact-form-footer.html -->
<div class="footer-section contact-form-simple">
    <h2>Fale Conosco</h2>
    <form action="#" method="post">
        <input type="email" name="email" class="text-input contact-input" placeholder="Seu email...">
        <textarea rows="3" name="message" class="text-input contact-input" placeholder="Sua mensagem..."></textarea>
        <button type="submit" class="btn btn-big contact-btn">
            <i class="fas fa-paper-plane"></i>
            Enviar
        </button>
    </form>
</div>