<!-- components/footer.html -->
<footer class="site-footer">
    <div class="footer-content">
        <div class="footer-section about">
            <h2 class="logo-text"><span>Masioli</span>Saúde Integrada</h2>
            <p>
                Cuidando da sua saúde e bem-estar com uma abordagem completa e integrada.
                Encontre aqui serviços de odontologia, estética, bem-estar e mais.
            </p>
            <div class="contact">
                <span><i class="fas fa-phone"></i>   (XX) XXXXX-XXXX</span>
                <span><i class="fas fa-envelope"></i>   contato@masiolisaude.com.br</span>
            </div>
            <div class="socials">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
        </div>

        <div class="footer-section links">
            <h2>Links Rápidos</h2>
            <ul>
                <li><a href="/index.html">Início</a></li>
                <li><a href="/pages/loja.html">Loja</a></li>
                <li><a href="/pages/masioli-odontologia.html">Masioli Odontologia</a></li>
                <li><a href="/pages/masikids.html">Masikids</a></li>
                <li><a href="/pages/servicos.html">Serviços</a></li> <!-- Exemplo, se tiver uma página de serviços -->
                <li><a href="/pages/contato.html">Contato</a></li> <!-- Exemplo, se tiver uma página de contato -->
            </ul>
        </div>

        <!-- Carregando o formulário de contato do footer -->
        <div data-include="contact-form-footer.html"></div>

    </div>

    <div class="footer-bottom">
        © <span id="current-year"></span> Masioli Saúde Integrada | Todos os direitos reservados.
    </div>
</footer>