<!-- components/search-panel.html -->
<div id="search-panel" class="search-panel">
    <div class="search-panel-content">
        <input type="text" placeholder="Buscar no site..." class="search-input">
        <h4>Links Rápidos</h4>
        <ul>
            <li><a href="/pages/loja.html">Nossa Loja</a></li> <!-- Caminho para pages/ -->
            <li><a href="/pages/masioli-odontologia.html">Odontologia</a></li> <!-- Caminho para pages/ -->
            <li><a href="/pages/landing-cursos.html">Cursos</a></li> <!-- Caminho para pages/ -->
            <li><a href="/pages/contato.html#contato">Contato</a></li> <!-- Exemplo, se tiver uma página de contato -->
        </ul>
        <button class="close-search-panel" id="close-search-panel">×</button>
    </div>
</div>